@import url(typography.css);
html {
    box-sizing: border-box;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}

body{
    background-color: #ffdb3d;
}

.header{
    display: flex;
    position: fixed;
    background-color: #e8bd00;
    padding: 0%;
    top: 0%;
    height: 8%;
    width: 100%;
    padding-top: 1.2rem;
}

.icon{
    font-family: menufont;
    text-decoration: none;
    font-size: 2rem;
    margin-right: 5rem;
    padding-left: 2rem;
}

.searchbox{
    display: flex;
    border-radius: 5rem;
    align-items: center;
    justify-items: center;
    background-color: #FFEFA5;
}

.searchbox input{
    flex: 1;
    padding-left: 1rem;
    background: transparent;
    border: none;
    outline: none;
}

.searchbox + .headbtn{
    font-family: menufont;
    margin-left: 60%;
    text-decoration: none;
    color: #47297B;
}

.headbtn + .headbtn{
    font-family: menufont;
    font-size: 1rem;
    margin-left: 2rem;
    text-decoration: none;
    color: #47297B;
}

.sidebar{
    display: flex;
    flex-direction: column;
    background-color: #ffe77c;
    position: fixed;
    top: 8%;
    left:0%;
    width: 14.7%;
    height: 92%;
}

.sidebar > .navigation{
    display: flex;
    background-color: #2b4bc9;
    height: 52%;

}

.sidebar > .navigation > ul > li > a{
    list-style: none;
    text-decoration: none;
    color: #47297B;
}

.sidecart{
    display: flex;
    text-align: center;
    background-color: #FFD93D;
    height: 4.7%;
    flex-direction: column;
    text-decoration: none;
}

.sidecart > a{
    text-decoration: none;
}
.banner{
    position: absolute;
    top: 20%;
    left: 20%;
  
}

.banner>img{
    width:50%
}

footer{
    display: flex;
    width: 85.4%;
    height: 5rem;
    flex-direction: column;
    margin-top: 90%;
    margin-left: 14.6%;
    bottom: 0%;
    background-color: #47297B;
}